<section class="container">
  <h2 class="md-display-1">New Experience Item</h2>
  <md-card class="md-padding no-margin-h">
    <form name="experienceForm" novalidate>
      <fieldset layout="row" layout-wrap>
        <!-- Experience Position -->
        <md-input-container flex="100" class="input-title">
          <label>Position</label>
          <input name="title" type="text" ng-model="vm.experience.position" id="title" required>
        </md-input-container>

        <!-- Experience Company -->
        <md-input-container flex="100">
          <label>Company</label>
          <input name="company" type="text" ng-model="vm.experience.company" id="company" required>
        </md-input-container>

        <!-- Experience Date -->
        <md-input-container flex="100">
          <label>Date</label>
          <input name="date" type="text" ng-model="vm.experience.date" id="date" required>
        </md-input-container>

        <!-- Experience Role -->
        <md-input-container flex="100">
          <label>Role</label>
          <input name="role" type="text" ng-model="vm.experience.role" id="role" required>
        </md-input-container>

        <!-- Experience Result -->
        <md-input-container flex="100">
          <label>Result</label>
          <input name="result" type="text" ng-model="vm.experience.result" id="result" required>
        </md-input-container>

      </fieldset>
    </form>
  </md-card>
  <div layout="row"  layout-align="start center">
  <md-button class="md-raised md-accent" ng-click="vm.create(experienceForm.$valid);" ng-disabled="!experienceForm.$valid">
    Save
  </md-button>
  </div>
</section>
