<!-- <div class="page-background experience-background"></div> -->
<div class="heading animate-fade-in" animate-on-load>
  <h2 class="md-display-1 container">About</h2>
</div>

<section ng-controller="HomeController" class="container margin-top">
  <md-card class="no-margin-h">
    <md-card-content>
      <p>
        I have a passion for all things web, and I take pride in crafting clean and compelling user experiences. I currently work as a Front-End Developer in the Lower Mainland, creating powerful and robust Web Apps. With over 2 years of Web Development experience under my belt, I am still learning more each day. I graduated with a Bachelor of Arts from SFU's Interactive Arts and Technology program in 2015.
      </p>
    </md-card-content>
  </md-card>
</section>
<div class="heading animate-fade-in" animate-on-load>
  <h2 class="md-display-1 container">Skills</h2>
</div>
