<!-- <div class="page-background experience-background"></div> -->
<div class="heading animate-fade-in" animate-on-load>
  <h2 class="md-display-1 container">About</h2>
</div>

<section ng-controller="HomeController" class="container margin-top">
  <md-card class="no-margin-h">
    <md-card-content>
  <p>
    I am a Web Developer and Interaction Design Specialist. Recently graduated from Simon Fraser University with a Bachlor's degree in Interactive Art and Technology. I have a passion for combining beauty and function to create clean, inspiring, and responsive websites.
  </p>
  <p>
    I developed this website using the MEAN stack, which includes MongoDB, ExpressJS, Angular, and NodeJS.
  </p>
</md-card-content>
</md-card>
</section>
