<section>
  <h2 class="md-display-1">Portfolio</h2>
  <!-- {{vm.portfolioList}} -->
  <md-button class="md-accent md-raised md-fab add-button" ng-if="vm.authentication.user" ui-sref="vm.portfolios.create">
    <md-icon class="material_icons">add</md-icon>
  </md-button>
  <div layout="row" layout-fill layout-wrap class="clear-both">
    <div flex="100" ng-if="vm.portfolioList.$resolved && !vm.portfolioList.length">
      <md-card ui-sref="vm.portfolio.create" class="md-padding">
        No Portfolio Items yet, why don't you create one?
      </md-card>
    </div>
    <div flex="50" ng-repeat="portfolio in vm.portfolioList">
      <md-card ui-sref="portfolio.view({portfolioId: portfolio._id})" class="md-padding">
        <h4 ng-bind="portfolio.title"></h4>
        <small>
          Posted on
          <span ng-bind="portfolio.created | date:'mediumDate'"></span>
          by
          <span ng-bind="portfolio.user.displayName"></span>
        </small>
        <md-divider class="margin-v"></md-divider>
        <p class="portfolio-content" ng-bind="portfolio.content"></p>
      </md-card>
    </div>
  </div>
</section>
