<!-- <div class="page-background portfolio-background"></div> -->
<div class="heading animate-fade-in" animate-on-load>
  <h2 class="md-display-1 container">Projects</h2>
</div>
<section class="container">
  <!-- {{vm.portfolioList}} -->
  <md-button class="md-accent md-raised md-fab add-button" ng-if="vm.authentication.user" ui-sref="portfolio.create">
    <md-icon class="material_icons">add</md-icon>
  </md-button>
  <div layout="row" layout-fill layout-wrap class="clear-both">
    <div flex="100" ng-if="vm.projectList.$resolved && !vm.projectList.length">
      <md-card ui-sref="vm.portfolio.create" class="md-padding">
        No Portfolio Items yet, why don't you create one?
      </md-card>
    </div>
    <div class="animate-repeat" flex="33" flex-xs="100" flex-sm="100" ng-repeat="portfolio in vm.projectList | orderBy: 'position'" animate-on-load>
      <!-- <md-card ui-sref="portfolio.view({portfolioId: portfolio._id})" class="md-padding portfolio-card sandwich" layout="row" layout-align="start end" layout-wrap> -->
      <md-card ui-sref="portfolio.view({portfolioId: portfolio._id})" class="md-padding portfolio-card sandwich" layout="row" layout-align="start end" layout-wrap style="background: url({{portfolio.cardImgSrc}}); background-size: 100%; background-position: center;">
        <div class="portfolio-card-text md-padding" flex="100">
          <h4 class="md-title" ng-bind="portfolio.title"></h4>
          <h5 class="md-subhead" ng-bind="portfolio.subtitle"></h5>
        </div>
      </md-card>
    </div>
  </div>
</section>

<div ng-if="vm.showWebsites">
  <div class="heading animate-fade-in animate-repeat padding-t" animate-on-load>
    <h2 class="md-display-1 container">Websites</h2>
  </div>
  <section class="container">
    <div layout="row" layout-fill layout-wrap class="clear-both">
      <div class="animate-repeat" flex="33" flex-xs="100" flex-sm="100" ng-repeat="portfolio in vm.websiteList | orderBy: 'position'" animate-on-load>
        <!-- <md-card ui-sref="portfolio.view({portfolioId: portfolio._id})" class="md-padding portfolio-card sandwich" layout="row" layout-align="start end" layout-wrap> -->
        <md-card ui-sref="portfolio.view({portfolioId: portfolio._id})" class="md-padding portfolio-card sandwich" layout="row" layout-align="start end" layout-wrap style="background: url({{portfolio.cardImgSrc}}); background-size: 100%; background-position: center;">
          <div class="portfolio-card-text md-padding" flex="100">
            <h4 class="md-title" ng-bind="portfolio.title"></h4>
            <h5 class="md-subhead" ng-bind="portfolio.subtitle"></h5>
          </div>
        </md-card>
      </div>
    </div>
  </section>
</div>
