<section class="container">
  <h2 class="md-display-1">New Portfolio Item</h2>
  <md-card class="md-padding no-margin-h">
    <form name="portfolioForm" novalidate>
      <fieldset layout="row" layout-wrap>
        <!-- Portfolio Title -->
        <md-input-container flex="100" class="input-title">
          <label>Title</label>
          <input name="title" type="text" ng-model="vm.portfolio.title" id="title" required>
        </md-input-container>

        <!-- Portfolio Subtitle -->
        <md-input-container flex="100">
          <label>Subtitle</label>
          <input name="subtitle" type="text" ng-model="vm.portfolio.subtitle" id="subtitle" required>
        </md-input-container>

        <!-- Portfolio Date -->
        <md-input-container flex="100">
          <label>Date</label>
          <input name="date" type="text" ng-model="vm.portfolio.date" id="date" required>
        </md-input-container>

        <!-- List Position -->
        <md-input-container flex>
          <label>List Position</label>
          <input name="date" type="number" ng-model="vm.portfolio.position" id="order">
        </md-input-container>

        <!-- Card Image Source -->
        <md-input-container flex>
          <label>Card Image Source</label>
          <textarea ng-model="vm.portfolio.cardImgSrc" id="card-img-src"></textarea>
        </md-input-container>

        <!-- Portfolio Youtube Link -->
        <md-input-container flex="100">
          <label>Youtube Link</label>
          <textarea ng-model="vm.portfolio.youtubeLink" id="youtube-link"></textarea>
        </md-input-container>

        <!-- Portfolio Content -->
        <!-- <md-input-container flex="100"  class="padding-b"> -->
        <div flex="100" class="padding-b">
          <textarea ng-wig="vm.portfolio.content" source-mode-allowed></textarea>

        </div>
        <!-- </md-input-container> -->

        <!-- Portfolio Roles -->
        <label>Roles</label>
        <md-chips
        class="padding-b"
        ng-model="vm.portfolio.roles"
        readonly="false"
        placeholder="Enter a role"
        delete-button-label="Remove Role"
        delete-hint="Press delete to remove role"
        secondary-placeholder="+Role"></md-chips>

        <!-- Portfolio Tags -->
        <label>Tags</label>
        <md-chips
        ng-model="vm.portfolio.tags"
        readonly="false"
        placeholder="Enter a tag"
        delete-button-label="Remove Tag"
        delete-hint="Press delete to remove tag"
        secondary-placeholder="+Tag"></md-chips>
      </fieldset>
    </form>
  </md-card>
  <div layout="row"  layout-align="start center">

  <md-button class="md-raised md-accent" ng-click="vm.create(portfolioForm.$valid);" ng-disabled="!portfolioForm.$valid">
    Save
  </md-button>
  </div>
</section>
