<section class="container">

  <!-- Content Edit Buttons -->
  <div class="content-buttons" ng-show="vm.authentication.user._id == vm.portfolio.user._id">
    <md-button class="md-accent md-raised" ng-if="vm.authentication.user" ng-click="vm.edit(vm.portfolio);">
      edit
    </md-button>
    <md-button class="md-warn md-raised" ng-if="vm.authentication.user" ng-click="vm.remove();">
      delete
    </md-button>
  </div>

  <!-- Portfolio Heading / Date -->
  <h2 class="md-display-1" ng-bind="vm.portfolio.title"></h2>
  <h2 class="md-title" ng-bind="vm.portfolio.subtitle"></h2>
  <!-- <small> -->
  <!-- <em class="md-body-1"> -->
  <span ng-bind="vm.portfolio.date"></span>
  <!-- </em> -->
  <!-- </small> -->
  <div class="clearfix"></div>

  <!-- Portfolio Content -->
  <div layout="column">
    <md-card class="md-padding no-margin-h" layout="row" layout-wrap>

      <div flex="33" class="md-body-1 padding-r" ng-bind-html="vm.portfolio.content"></div>
      <div flex="66">
        <a class="md-whiteframe-z1" ob-lazytube href="{{vm.portfolio.youtubeLink}}">The Sandwich</a>
      </div>
      <div flex="100">
        <h4 class="md-title">Tags</h4>
        <md-chips
         ng-model="vm.portfolio.tags"
         readonly="true"></md-chips>
      </div>
    </md-card>

  </div>
</section>
