<!-- <section ng-controller="ArticlesController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Article</h1>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-horizontal" ng-submit="update(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="article.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Article title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" ng-model="article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section> -->
<section ng-controller="ArticlesController" ng-init="findOne()">
  <h2 class="md-display-1">Edit Article</h2>
  <md-card class="md-padding no-margin-h">
    <form name="articleForm" novalidate>
      <fieldset layout="row" layout-wrap>
        <md-input-container flex="100" class="input-title">
          <label>Title</label>
          <input name="title" type="text" ng-model="article.title" id="title" required>
        </md-input-container>

        <md-input-container flex="100" class="input-content">
          <label>Content</label>
          <textarea nname="content" ng-model="article.content" id="content"></textarea>
        </md-input-container>
      </fieldset>
    </form>
  </md-card>
  <div layout="row"  layout-align="start center">

  <md-button class="md-raised md-accent" ng-click="update(articleForm.$valid);">
    Update
  </md-button>
  </div>
</section>
