<section>
  <h2 class="md-display-1">Articles</h2>
  <md-button class="md-accent md-raised md-fab add-button" ng-if="vm.authentication.user" ui-sref="articles.create">
    <md-icon class="material_icons">add</md-icon>
  </md-button>
  <div layout="row" layout-fill layout-wrap class="clear-both">
    <div flex="100" ng-if="vm.articles.$resolved && !vm.articles.length">
      <md-card ui-sref="vm.articles.create" class="md-padding">
        No articles yet, why don't you create one?
      </md-card>
    </div>
    <div flex="100" ng-repeat="article in vm.articles">
      <md-card ui-sref="articles.view({articleId: article._id})" class="md-padding">
        <h4 ng-bind="article.title"></h4>
        <small>
          Posted on
          <span ng-bind="article.created | date:'mediumDate'"></span>
          by
          <span ng-bind="article.user.displayName"></span>
        </small>
        <md-divider class="margin-v"></md-divider>
        <p class="article-content" ng-bind="article.content"></p>
      </md-card>
    </div>
  </div>
</section>
