<section class="container">

  <div class="content-buttons" ng-show="vm.authentication.user._id == vm.article.user._id">
    <md-button class="md-accent md-raised" ng-if="vm.authentication.user" ng-click="vm.edit(vm.article);">
      edit
    </md-button>
    <md-button class="md-warn md-raised" ng-if="vm.authentication.user" ng-click="vm.remove();">
      delete
    </md-button>
  </div>

  <h2 class="md-display-1" ng-bind="vm.article.title"></h2>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.article.created | date:'mediumDate'"></span>
      by
      <span ng-bind="vm.article.user.displayName"></span>
    </em>
  </small>




  <!-- <div class="pull-right" ng-show="authentication.user._id == article.user._id">
    <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="clearfix">
  <!-- </div> -->

  <div class="clearfix"></div>
  <div layout="column">

    <md-card class="md-padding no-margin-h">
      <!-- <small>
      <em class="text-muted">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-bind="article.user.displayName"></span>
      </em>
    </small> -->
      <p class="md-body-1 article-content" ng-bind-html="vm.article.content"></p>
    </md-card>
  </div>
</section>
