.add-button, .options-speed-dial {
  float: right;
  left: -16px;
  top: -24px;
  margin-bottom: -62px;
  z-index: 99;
  overflow: visible;
}
.content-buttons {
  float: right;
  margin-top:16px;
}
.edit-button {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
}
